src/main/resources/wsdl/ValidarEnvio.wsdl

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<wsdl:definitions 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                     xmlns:tns="http://www.cgr.cl/OSB/SectorPublico/V1/EXP/ValidacionEnvio"
                     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                     name="validarEnvio"
                     targetNamespace="http://www.cgr.cl/OSB/SectorPublico/V1/EXP/ValidacionEnvio">
    <wsdl:types>

        <xsd:schema targetNamespace="http://www.cgr.cl/OSB/SectorPublico/V1/EXP/ValidacionEnvio">

            <xsd:element name="validarEnvio">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listaInformes" type="tns:listaInformes"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="validarEnvioResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estado" 			type="xsd:string"/>
                        <xsd:element name="mensaje" 		type="xsd:string"/>
                        <xsd:element name="listaErrores" 	type="tns:listaErrores" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:complexType name="listaErrores" >
                <xsd:sequence>
                    <xsd:element name="error" 	type="tns:error" 	minOccurs="0" 	maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType 	name="error">
                <xsd:sequence>
                    <xsd:element name="idRegla" 			type="xsd:short"/>
                    <xsd:element name="mensajeError" 		type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="listaInformes" >
                <xsd:sequence>
                    <xsd:element name="informe" 	type="tns:informe" 	minOccurs="0" 	maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType 	name="informe">
                <xsd:sequence>
                    <xsd:element name="idInforme" 	type="xsd:string"/>
                    <xsd:element name="codigoInforme" type="xsd:string"/>
                    <xsd:element name="nombreInforme" type="xsd:string"/>
                    <xsd:element name="estadoInforme" type="xsd:string"/>
                    <xsd:element name="periodo" 		type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>



        </xsd:schema>

    </wsdl:types>
    <wsdl:message name="validarEnvioRequest">
        <wsdl:part element="tns:validarEnvio" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarEnvioResponse">
        <wsdl:part element="tns:validarEnvioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="validarEnvio">
        <wsdl:operation name="validarEnvio">
            <wsdl:input message="tns:validarEnvioRequest"/>
            <wsdl:output message="tns:validarEnvioResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="validarEnvioSOAP" type="tns:validarEnvio">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validarEnvio">
            <soap:operation soapAction="http://www.cgr.cl/OSB/SectorPublico/V1/EXP/ValidacionEnvio/validarEnvio"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="validarEnvio">
        <wsdl:port binding="tns:validarEnvioSOAP" name="validarEnvioSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>